*{
    box-sizing: border-box;
    font-family:  Montserrat, sans-serif, 'Work Sans', Serif;
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    background-color: lightgrey;
    /*height: 3em;*/
    justify-content: start;
    position: relative;
}

ul{
    /*display: flex;*/
    align-items: center;
    padding: 1.7em .5em;
    width: 100%;
}

li {
    list-style: none;
    font-size: medium;
    padding: 0 .5em;
}

a {
    display: inline-block;
    text-decoration: none;
    /*font-weight: bold;*/
}

#jobs-list-item {
    margin-right: 48em;
}

a:link {
    color: black;
}

a:hover {
    color: cornflowerblue;
}

#logo{
    font-size: 3em;
    padding: .2em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

li img {
    margin: 0 auto ;
}

p {
    padding: 0;
}

