body{
    padding: 1em;
}


i {
    margin: 0 .2em;
}
#ruler {
    border-bottom: 8px solid #99aa7b ;
    margin: 1em;
    width: 100%;
}

li, p {
    font-size: 22px;
}
 p {
    padding: 0;
}

#contact-info{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
 }
section{
     padding-bottom: 4em;
 }