
.header {
    margin-bottom: 2em;
}
#map {
    border-radius: 12px;
}

.card {
    border-radius: 12px;

}

li, h5, .align {
    text-align: center;
}

.align {
    font-style: italic;
}

form {
    width: 970px;
    margin: 0 auto;
}

button {
    padding: 5px;
 }

input {
    /*background: url(images/comment-author.gif) no-repeat scroll 7px 7px;*/
    /*padding-left:30px;*/
}