@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    background-color: whitesmoke;
    /*color: whitesmoke;*/
}

h1 {

    margin-top: .7em;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

.header {
    margin-bottom: 2em;
}
#map {
    border-radius: 0 0 12px 12px;
}

#allWeather {
    margin: 0 auto;
    width: 100%;
}

#cardContainer {
    padding: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    color: black;
}

.card {
    border-radius: 12px;
    padding-right: 0;
    margin-right: 0;
    opacity: 70%;
    color: whitesmoke;
}

.card-body {
    border-radius: 6px;
}


li, h5, .align {
    text-align: center;
}

.align {
    font-style: italic;
}

#currentDisplay {
    margin-top: 2.5em;
    margin-left: 54px;
}

.currently {
    font-size: 2em;
    display: block;
}

#sub-header {
    font-size: 10px;
}

#location {
    font-size: 1em;
    font-weight: bold;
}

#numberTemp {
    font-weight: bold;
    font-size: 3em;
    color: transparent;
}

form {
    width: 970px;
    margin: 0 auto;
}

#searchButton {
    padding: 5px;
    border-radius: 0 5px 0 0;
    background-color: #06d6a0;
    border: none;
    width: 74px;
 }



#searchInput {
    width: 889px;
    border-radius: 5px 0 0 0;
    background-color: #e2e2e2;
    border: none;
}

#mapContainer {
    width: 100%;
}

#formAndMap {
    margin-top: 9em;
}

.content {
    position: relative;

}

.content h2 {
    position: absolute;
}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 3px #ADD8E6 ;
}

.content h2:nth-child(2){
    font-weight: bold;
    font-size: 3em;
    color: #ADD8E6;
    animation: animate 4s ease-in-out infinite;
}

.grow { transition: all .4s ease-in-out; }
.grow:hover { transform: scale(1.1); }

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0 38%, 19% 39%, 35% 47%, 55% 53%, 72% 54%, 86% 51%, 100% 42%, 99% 99%, 1% 99%);
        /*clip-path: polygon(0 37%, 21% 39%, 39% 47%, 55% 55%, 70% 60%, 81% 54%, 90% 46%, 100% 34%, 99% 100%, 1% 99%);*/
    }
    50%{
        clip-path: polygon(0 60%, 16% 61%, 35% 64%, 57% 61%, 71% 50%, 84% 43%, 100% 42%, 99% 99%, 1% 99%);
        /*clip-path: polygon(0 45%, 16% 42%, 34% 50%, 51% 57%, 66% 56%, 80% 50%, 88% 39%, 100% 34%, 99% 100%, 1% 99%);*/

    }

}